<<<<<<< HEAD
* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

span {
    font-style: italic;
}

p {
    margin: 0;
}

.button button {
    border-radius: 4px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    padding: 5px 24px;
}

.button1 button {
    color: #f9faf8;
    border: 0px;
}

.button2 button {
    border: 1px solid #e5e7eb;
}

.button2 {
    margin-left: auto;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    margin: 0px;
    padding: 0px;
    display: flex;
}

=======
>>>>>>> parent of dfb8b44 (Add basic css styling and attributes to text)
img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.main-img img {
    width: 400px;
    height: 200px;
    display: inline-flex;
    justify-content: flex-end;
    border-style: none;
}

.text {
    color: #e5e7eb;
}

.text1 {
    text-align: center;
    max-width: 200px;
<<<<<<< HEAD
    max-height: 500px;
}
.body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    margin: 0px;
}

.body1-wrapper {
    background-color: #1f2937;
}

.body1 {
    background-color: #1f2937;
    display: flex;
    padding-left: 100px;
    flex: 1 0 100%;
    justify-content: space-between;
    width: 100%;
}

.body2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    flex: 1 0 100%;
}

.body3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 8px;
    flex: 1 0 100%;
}

.body4 {
    background-color: white;
    padding: 8px;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    
}

.header-wrapper {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 100px;
    flex-grow: 1;
    margin-right: auto;
}

.left-header {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex: 1;
    padding-left: 92px;
}

.right-header {
    display: flex;
    justify-content: flex-end;
    color:#e5e7eb;
    padding-right: 100px;
    gap: 16px;
    flex: 1;
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
}

.body1-container {
    max-width: 310px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.title2 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin: 8px;
    flex: 0 0 100%;
}

.img-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.img1.img2.img3.img4 {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 200px;
    max-height: 500px;
}

.quote-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 32px 0 32px 0;
    max-width: 400px;
}

.quote1 span {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    color: #1f2937;
}

.quote2 {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 20px;
    width: 600px;
    height: 75px;
}

.action-container .button {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.action-text {
    display: flex;
    text-align: left;
    color: #e5e7eb;
}

.action-bold {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    color: #f9faf8;
    text-align: left;
}
=======
    max-height: 200px;
}
>>>>>>> parent of dfb8b44 (Add basic css styling and attributes to text)
