* {
    font-family: Arial Narrow, sans-serif;
}

span {
    font-style: italic;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

li {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.main-img img {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    border-style: none;
}

.text {
    color: #e5e7eb;
}

.text1 {
    text-align: center;
    max-width: 200px;
    max-height: 500px;
}
.body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
}

.body1 {
    background-color: #1f2937;
    display: flex;
    padding: 8px;
    flex: 1 0 100%;
    justify-content: space-between;
}

.body2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    flex: 1 0 100%;
}

.body3 {
    background-color: #e5e7eb;
    display: flex;
    padding: 8px;
    flex: 1 0 100%;
}

.body4 {
    background-color: white;
    padding: 8px;
    flex: 1 0 100%;
}
.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    
}

.header-wrapper {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex: 0 0 100%;
}

.left-header {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex: 1;
}

.right-header {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    flex: 1;
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
}

.body1-container {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.title2 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin: 8px;
    flex: 0 0 100%;
}

.img-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img1.img2.img3.img4 {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 200px;
    max-height: 500px;
}